extends layout

block content

  h5 Report

  table.table.is-fullwidth.is-striped
    thead
      tr 
        th Image
        th ID
          each products, time in timeline
            th= time
    tbody
      each item in items
        tr
          td
            img(src=item.imageBase64String)
          td=item.productId
            each p, t in timeline
              - if (p.includes(item.productId))
                td.center
                  i.em.em-white_check_mark
              - else
                td.center
                  i.em.em-x
